.cart-container {
  padding: 10px 40px;
  display: flex;
  margin-top: 90px;
}

.cart-items {
  flex-direction: column;
  height: fit-content;
  display: flex;
  align-items: center;
  width: 65%;
}

.cart-item {
  display: flex;
  align-items: center;
  background-color: rgb(250, 250, 250);
  width: 100%;
  justify-content: space-between;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 5px;
}

.cart-item-main img {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.cart-item-main {
  display: flex;
  align-items: center;
}
.cart-item-details {
  /* background-color: burlywood; */
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #555555;
}

.cart-item-buttons {
  display: flex;
  flex-direction: column;
  /* background-color: cadetblue; */
  padding: 10px;
  align-items: center;
}

.cart-item-buttons div {
  width: 40px;
  font-size: 16px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #555555;
}

.cart-item-buttons div:hover {
  color: #f73378;
  cursor: pointer;
}

.cart-items Link {
  border-bottom: none !important;
}

.cart-items-add {
  font-size: 16px;
  font-weight: 500;
  color: #555555;
  border-bottom: none !important;
  margin: 20px;
}

.cart-total {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  margin: 0 30px;
  width: 35%;
  height: 300px;
}

.cart-total-items {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-total-items Button {
  width: 100%;
}

.cart-total-details {
  min-height: 50%;
  border-bottom: 1px solid rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 0;
}

.cart-total-details div {
  display: flex;
  justify-content: space-between;
}

.cart-total-subtotal {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-container {
  display: flex;
  padding: 10px 40px 60px 40px;
  margin-top: 90px;
  height: fit-content;
}

.checkout-info {
  flex-direction: column;
  height: fit-content;
  display: flex;
  align-items: center;
  width: 65%;
  height: fit-content;
}

.checkout-total {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  margin: 0px 30px;
  width: 35%;
  height: 300px;
}
.checkout-info {
  height: fit-content;
  width: 60%;
}
.checkout-shipping {
  width: 90%;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  padding: 20px;
}

.checkout-payment {
  width: 90%;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
}

.checkout-total-items {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.checkout-total-items Button {
  width: 100%;
}

.checkout-total-details {
  min-height: 50%;
  border-bottom: 1px solid rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 0;
}

.checkout-total-details div {
  display: flex;
  justify-content: space-between;
}

.checkout-total-subtotal {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 830px) {
  .cart-container {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 90px;
  }
  .cart-items {
    width: 100%;
  }
  .cart-total {
    width: 100%;
    margin: 8px 0px;
    height: 200px;
  }
  .checkout-container {
    flex-direction: column;
    padding: 10px 10px 60px 10px;
  }
  .checkout-info {
    width: 100%;
  }

  .checkout-shipping {
    width: 100%;
  }

  .checkout-payment {
    width: 100%;
  }

  .checkout-total {
    margin: 20px 0px;
    width: 100%;
    height: 300px;
  }
  .cart-item-main img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
} ;
