#delivery {
  padding: 50px;
  height: fit-content;
}

.delivery-container {
  display: flex;
  margin-top: 70px;
}

.delivery-container img {
  padding: 30px;
  height: 360px;
  border-radius: 2px;
}

.delivery-container h3 {
  margin: 10px 0 40px 0;
  font-size: 20px;
}

.delivery-container p {
  font-size: large;
  font-weight: 400;
}

.delivery-container figcaption {
  padding: 20px;
}

@media only screen and (max-width: 1200px) {
  #delivery {
    padding: 20px;
    height: auto;
  }
  .delivery-container img {
    padding: 0px;
    width: 100%;
    height: auto;
  }
  .delivery-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .delivery-container h3 {
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
  }

  .delivery-container p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  .delivery-container figcaption {
    padding: 5px;
  }
} ;
