:root {
  --main: whitesmoke;
  --dark: #262935;
  --secondary: #f73378;
  --lightBackground: rgb(243, 243, 243);
  --defaultGrey: ;
  --textDark: #262935;
  --textLight: whitesmoke;
}

.text-link {
  text-decoration: none !important;
}

.NavbarItems {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0;
  opacity: 92%;
  width: 100%;
  background-color: var(--main);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0px 1px 8px 1px rgb(80, 80, 80);
}

.color {
  color: #858585;
}

/* .signed-profile {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  background-color: #262935;
  height: 24px;
  width: 24px;
  border-radius: 12px;
}
.signed-profile span {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
} */

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-left: 40px;
  width: 10%;
  text-decoration: none !important;
}

.navbar-icons {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}
.navbar-icons i {
  margin: 0 15px;
  font-size: 24px;
}

.navbar-logo-text {
  justify-self: start;
  cursor: pointer;
  margin: 0 0 0 6px;
  font-size: 26px;
  font-weight: 300;
}

.navbar-logo-img {
  width: 60px;
  height: 60px;
  justify-self: start;
  cursor: pointer;
}

.menu-icon {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

.navbar-menu {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 5px;
  list-style: none;
  width: 85%;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 0;
}
.nav-cta-none {
  display: none;
}
.nav-cta {
  display: none;
}

.nav-links {
  color: var(--dark);
  text-decoration: none !important;
  margin: 0 10px;
  padding: 3px 0;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}
.mobile-nav-links {
  color: var(--dark);
  text-decoration: none !important;
  margin: 0 10px;
  padding: 3px 0;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

.nav-links:hover {
  /* background-color: var(--secondary); */
  border-bottom: 2px solid var(--textDark) !important;
  color: var(--dark);
  cursor: pointer;
}
.mobile-nav-links:hover {
  border-bottom: 2px solid var(--textDark) !important;
  color: var(--dark);
  cursor: pointer;
}

.bars {
  color: var(--textDark);
  cursor: pointer;
  display: none !important;
}
.fa-times {
  color: var(--textDark);
  cursor: pointer;
  display: none !important;
}

.nav-links-mobile {
  display: none;
}

.cta {
  margin-right: 50px;
  min-width: 105px;
}

.cta-mobile {
  background-color: #f73378;
  display: none;
}

@media only screen and (max-width: 1200px) {
  .nav-links {
    color: var(--textLight);
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .nav-cta {
    color: var(--textLight);
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .nav-cta:hover {
    background-color: var(--secondary);
    border-bottom: none;
    color: var(--textLight);
    background-color: #df115c;
  }

  .nav-links:hover {
    background-color: var(--secondary);
    border-bottom: none;
    color: var(--textLight);
    background-color: #f73378;
  }

  .bars {
    display: block !important;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 24px !important;
  }
  .navbar-logo {
    margin: 0 0 0 20px;
  }
  .mobile-nav-links {
    display: none;
  }

  .NavbarItems {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0;
    opacity: 92%;
    width: 100%;
    background-color: var(--main);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 0px 1px 8px 1px rgb(80, 80, 80);
  }

  .navbar-menu {
    /* display: grid;
    grid-template-columns: repeat(10, auto); */
    grid-gap: 5px;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    margin-bottom: 0;
  }

  .open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    background-color: #262935;
    height: fit-content;
    width: 100%;
    overflow: hidden;

    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
  }
  .navbar-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
  }
  .navbar-icons i {
    margin: 0 15px;
    font-size: 24px;
  }

  .navbar-logo {
    margin-left: 10px;
    width: 10%;
  }

  .navbar-logo-text {
    margin: 0 0 0 2px;
    font-size: 17px;
    font-weight: 300;
  }

  .navbar-logo-img {
    width: 50px;
    height: 50px;
    justify-self: start;
    cursor: pointer;
  }

  .navbar-icons i {
    margin: 0 13px;
    font-size: 22px;
  }
  .fa-home {
    display: none !important;
  }

  .fa-times {
    display: block !important;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 26px !important;
  }
} ;
