:root {
  --main: whitesmoke;
  --dark: #262935;
  --secondary: #f73378;
  /* --secondary: #34b0fd; */
  --lightBackground: rgb(243, 243, 243);
  --defaultGrey: ;
  --textDark: #262935;
  --textLight: whitesmoke;
}

.NavbarItems {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 92%;
  width: 100%;
  background-color: var(--main);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0px 1px 8px 1px rgb(80, 80, 80);
}

.navbar-logo-text {
  justify-self: start;
  cursor: pointer;
  margin: 0 0 0 6px;
  font-size: 26px;
  font-weight: 300;
}

.navbar-logo {
  width: 60px;
  height: 60px;
  justify-self: start;
  cursor: pointer;
  margin: 0 0 0 24px;
}

.menu-icon {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

.navbar-menu {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 5px;
  list-style: none;
  width: 85%;
  justify-content: end;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 0;
}

.nav-links {
  color: var(--dark);
  text-decoration: none !important;
  margin: 0 10px;
  padding: 3px 0;
  font-size: 17px;
  font-weight: 400;
}

.nav-links:not(.cta):hover {
  /* background-color: var(--secondary); */
  border-bottom: 1px solid var(--textDark);
  transition: all 0.2s ease-out;
  color: var(--dark);
}

.fa-bars {
  color: var(--textDark);
}

.nav-links-mobile {
  display: none;
}

.cta {
  margin-right: 24px;
  width: 120px;
}
