:root {
  --main: whitesmoke;
  --dark: #262935;
  --secondary: #f73378;
  /* --secondary: #34b0fd; */
  --lightBackground: rgb(243, 243, 243);
  --defaultGrey: ;
  --textDark: #262935;
  --textLight: whitesmoke;
}

.NavbarItems {
  background-color: var(--main);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 1px 1px 9px 2px rgb(218, 216, 216);
}

.navbar-logo {
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
}

.menu-icon {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-gap: 5px;
  list-style: none;
  width: 85%;
  justify-content: end;
  align-items: center;
  margin-right: 4px;
}

.nav-links {
  color: var(--dark);
  text-decoration: none;
  margin: 0 10px;
  padding: 3px 0;
}

.nav-links:not(.cta):hover {
  /* background-color: var(--secondary); */
  border-bottom: 1px solid var(--textDark);
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: var(--textDark);
}

.nav-links-mobile {
  display: none;
}

.cta {
  background-color: var(--secondary);
  color: var(--textLight);
  padding: 9px;
  border-radius: 6px;
}
