* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main: whitesmoke;
  --dark: #262935;
  --secondary: #f73378;
  /* --secondary: #34b0fd; */
  --lightBackground: rgb(243, 243, 243);
  --defaultGrey: ;
  --textDark: #262935;
  --textLight: whitesmoke;
}

.section-title {
  text-align: center;
  padding: 38px 0;
  margin: 0;
  font-size: 34px;
  font-weight: 400;
}

.on-active {
  border-bottom: 1px solid #f73378;
}
