#footer {
  background-color: #262935;
  height: 320px;
  margin: 0;
}

#footer h3 {
  color: whitesmoke;
  font-size: 19px;
  margin-bottom: 20px;
}

.main-footer {
  display: flex;
  justify-content: center;

  padding: 30px 16px 4px 16px;
}
.secondary-footer {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  color: rgb(195, 195, 195);
}

.main-footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-footer-link {
  display: inline-block;
  margin: 0 16px;
}
.main-footer-link a {
  text-decoration: none;
  font-size: 30px;
}

.main-footer-link a:hover {
  border-bottom: 1px solid red;
  text-decoration: none;
}

.default-hr {
  border-color: rgb(173, 173, 173);
  position: center;
  display: block;
  border: none;
  height: 1px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    750,
    from(rgb(148, 148, 148)),
    to(#262935)
  );
}

.footer-about {
  /* border: 1px solid grey; */
  /* padding: 20px; */
  height: 100%;
  width: 450px;
  color: whitesmoke;
  /* min-height: 200px; */
}
.footer-about h2 {
  font-size: 30px;
  font-weight: 300;
}

.footer-about p {
  padding-top: 10px;
  padding-right: 60px;
  font-size: 15px;
}

.footer-nav {
  /* border: 1px solid grey; */
  width: 220px;
}

.footer-nav-links {
  padding-left: 0;
}

.footer-nav-link {
  list-style-type: none;
  padding-bottom: 5px;
}

.footer-nav-link a {
  text-decoration: none;
  color: whitesmoke;
  padding-bottom: 2px;
}

.footer-nav-link a:hover {
  text-decoration: none;
  color: whitesmoke;
  border-bottom: 1px solid #f73378;
}

.footer-contacts {
  /* border: 1px solid grey; */
  height: 100%;
  width: 350px;
}

.footer-icons {
  /* border: 1px solid grey; */
  height: 100%;
  width: 350px;
}

.footer-icon-social i {
  margin-top: 14px;
  color: var(--textLight);
  font-size: 32px;
  padding: 0 5px;
  cursor: pointer;
}

.footer-contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: var(--textLight);
}

.footer-contact-item i {
  font-size: 28px;
  width: 45px;
  padding-right: 20px;
}

@media only screen and (max-width: 1200px) {
  #footer {
    background-color: #262935;
    height: fit-content;
    margin: 0;
  }
  .main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px 6px 4px 6px;
  }
  .footer-about {
    /* border: 1px solid grey; */
    /* padding: 20px; */
    height: 100%;
    width: 100px;
    color: whitesmoke;
    /* min-height: 200px; */
  }
}
